<% layout('guru/layouts/master') %>
<% block('head').append('') %>
<div class="pcoded-main-container">
  <div class="pcoded-content">
      <!-- [ breadcrumb ] Mulai -->
      <div class="page-header">
          <div class="page-block">
              <div class="row align-items-center">
                  <div class="col-md-12">
                      <div class="page-header-title">
                          <h5 class="m-b-10">Data User Guru BK</h5>
                      </div>
                      <ul class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
                          <li class="breadcrumb-item"><a href="#!">Data User Guru BK</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <!-- [ breadcrumb ] Akhir -->
      <!-- [ Main Content ] Mulai -->
      <div class="row">
          <div class="col-md-12">
              <div class="card table-card">
                  <div class="card-header">
                    <h5 class="mb-4">Data User Guru BK</h5>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover table-borderless">
                            <thead>
                              <tr>
                                <th>No</th>
                                <th>Nama</th>
                                <th>Username</th>
                                <th>Aksi</th>
                              </tr>
                            </thead>
                              <tbody>
                                <tr>
                                  <td>4122</td>
                                  <td>dfsdfs</td>
                                  <td>fdsdfs</td>
                                  <td>
                                      <button type="button" data-toggle="modal" data-target="#edit_gurubk" class="btn btn-sm btn-primary"><i class="feather icon-edit"></i></button>
                                      <a href="#" type="button" class="btn btn-sm btn-danger"  onclick="javascript:return confirm('Yakin Hapus Data User Guru BK?')"><i class="feather icon-trash"></i></a>
                                      <!-- Modal -->
                                      <div class="modal fade" id="edit_gurubk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">Edit User Guru BK</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              <form action="./gurubk/query.php?id=<?php echo $data['id'];?>&halaman=user" method="POST">
                                                <div class="form-group">
                                                  <label>Username</label>
                                                  <input type="text" class="form-control" name="username" value="afsafs" required>
                                                </div>
                                                <div class="form-group">
                                                  <label>Password Lama</label>
                                                  <input type="password" class="form-control" name="password_lama" required>
                                                </div>
                                                <div class="form-group">
                                                  <label>Password Baru</label>
                                                  <input type="password" class="form-control" name="password_baru" onkeyup="checkpassword(1)" id="pw1" required>
                                                </div>
                                                <div class="form-group">
                                                  <label>Ulangi Password Baru</label>
                                                  <input type="password" class="form-control" name="password_baru2" onkeyup="checkpassword(1)" id="pw21" required>
                                                  <small class="form-text text-danger" id="message1"></small>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                              <button type="submit" id="submit1" name="edit_user" class="btn btn-primary">Save</button>
                                              </form>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                  </td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- [ Main Content ] Akhir -->
  </div>
</div>


<script>
  function checkpassword(nomor) {
    var nomor = nomor;
    var pw = document.getElementById('pw'+nomor).value;
    var pw2 = document.getElementById('pw2'+nomor).value;
    if(pw == pw2) {
      document.getElementById('submit'+nomor).disabled = false;
      document.getElementById('message'+nomor).innerHTML = "";
    } else {
      document.getElementById('submit'+nomor).disabled = true;
      document.getElementById('message'+nomor).innerHTML = "Password Tidak Sama!";
    }
  }
</script>

<% block('footer').append('') %>
